<div class="col-sm-12 col-md-8">
    {% include 'builder/Columns/column.content.twig' with {column: row["Column 1"] } %}
</div>
<div class="col-sm-12 col-md-4">
    {% include 'builder/Columns/column.content.twig' with {column: row["Column 2"] } %}
</div>