<div class="col-sm-12 col-md-6">
    {% include 'builder/Columns/column.content.twig' with {column: row["Column 1"] } %}
</div>
<div class="col-sm-12 col-md-3">
    {% include 'builder/Columns/column.content.twig' with {column: row["Column 2"] } %}
</div>
<div class="col-sm-12 col-md-3">
    {% include 'builder/Columns/column.content.twig' with {column: row["Column 3"] } %}
</div>