{% extends 'layouts/base.twig' %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>{{ post.title }}</h1>
            {{ post.content }}
        </div>
    </div>
{% endblock %}