{% extends 'layouts/base.twig' %}
{% block content %}
    <divv class="continaer">
        <div class="row">
            <div class="col">
                <h1>{{ title }}</h1>
                {{ post.content }}
            </div>
        </div>
    </divv>
{% endblock %}