.mt-none {
  margin-top: 0;
}
.mt-small {
  margin-top: $spacing-small;
}
.mt-medium {
  margin-top: $spacing-medium;
}
.mt-large {
  margin-top: $spacing-large;
}
.mb-none {
  margin-bottom: 0;
}
.mb-small {
  margin-bottom: $spacing-small;
}
.mb-medium {
  margin-bottom: $spacing-medium;
}
.mb-large {
  margin-bottom: $spacing-large;
}
.ml-none {
  margin-left: 0;
}
.ml-auto {
  margin-left: auto;
}
.ml-small {
  margin-left: $spacing-small;
}
.ml-medium {
  margin-left: $spacing-medium;
}
.ml-large {
  margin-left: $spacing-large;
}
.mr-none {
  margin-right: 0;
}
.mr-auto {
  margin-right: auto;
}
.mr-small {
  margin-right: $spacing-small;
}
.mr-medium {
  margin-right: $spacing-medium;
}
.mr-large {
  margin-right: $spacing-large;
}

.pt-none {
  padding-top: 0;
}
.pt-small {
  padding-top: $spacing-small;
}
.pt-medium {
  padding-top: $spacing-medium;
}
.pt-large {
  padding-top: $spacing-large;
}
.pb-none {
  padding-bottom: 0;
}
.pb-small {
  padding-bottom: $spacing-small;
}
.pb-medium {
  padding-bottom: $spacing-medium;
}
.pb-large {
  padding-bottom: $spacing-large;
}
.pl-none {
  padding-left: 0;
}
.pl-small {
  padding-left: $spacing-small;
}
.pl-medium {
  padding-left: $spacing-medium;
}
.pl-large {
  padding-left: $spacing-large;
}
.pr-none {
  padding-right: 0;
}
.pr-small {
  padding-right: $spacing-small;
}
.pr-medium {
  padding-right: $spacing-medium;
}
.pr-large {
  padding-right: $spacing-large;
}